.button {
  appearance: none;
  background: var(--dark-blue-600);
  border: 2px solid #2f3676;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
  transition: background 0.2s ease-in-out;

  &:hover, &:focus {
    background: var(--dark-blue-700);
  }

  &:disabled {
    background: var(--gray-200);
    border-color: var(--gray-800);
    color: var(--gray-800);
  }
}
