.header {
  display: flex;
  align-items: center;
  background: url(../../assets/header.png) center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
  margin-bottom: 32px;

  @media(max-width: 720px) {
    padding: 23px 16px;
    height: auto;
  }
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: 200;

  & > span {
    font-size: 24px;
    line-height: 1.45;

    & > b {
      font-weight: bold;
    }
  }
}
