.toggle {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;

  &.on {
    background-color: #f1c40f;
  }

  &.off {
    background-color: #34495e;
  }

  .handle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    margin: 3px;
    transition: transform 0.2s;
    transform: translateX(30px);

    &.on {
      transform: translateX(0px);
    }
  }
}
